	<div style='clear:both;'></div>
	<div id='footDiv'>
		<div id='footLogoDiv'><img src='/assets/bigRoosterLogo.png'/></div>
		<div id='bottomNavigateDiv'>
			<ul id='bottomNavigateList'>
				<li><a href='#'>最新到店</a></li>
				<li><a href='#'>所有商品</a></li>
				<li><a href='#'>精选专辑</a></li>
				<li><a href='#'>流行趋势</a></li>
				<li><a href='#'>搭配指南</a></li>
				<li><a href='#'>品牌故事</a></li>
				<li><a href='#'>正在发生</a></li>
				<li><a href='#'>会员中心</a></li>
			</ul>
		</div>
		<div id='serviceContentDiv'>
			<div id='memberDiv' style='border-left:none;'>
				<p><img src='/assets/userLogo.png'>会员专区</p>
				<p><a href='#'>&nbsp;&nbsp;会员中心</a></p>
				<p><a href='#'>&nbsp;&nbsp;会员制度</a></p>
				<p><a href='#'>&nbsp;&nbsp;如何使用积分</a></p>
				<p><a href='#'>&nbsp;&nbsp;会员常见问题</a></p>
			</div>
			<div id='transportDiv'>
				<p><img src='/assets/transports.png' style="width:14px;">配送流程</p>
				<p><a href='#'>&nbsp;&nbsp;配送说明</a></p>
				<p><a href='#'>&nbsp;&nbsp;退货说明</a></p>
			</div>
			<div id='aboutUsDiv'>
				<p><img src='/assets/home.png'>关于我们</p>
				<p><a href='#'>&nbsp;&nbsp;BIG ROOSTER</a></p>
				<p><a href='#'>&nbsp;&nbsp;中国报喜鸟集团</a></p>
				<p><a href='#'>&nbsp;&nbsp;工作机会</a></p>
				<p><a href='#'>&nbsp;&nbsp;产品系列</a></p>
			</div>
			<div id='helpDiv'>
				<p><img src='/assets/connectUs.png'>帮助中心</p>
				<p><a href='#'>&nbsp;&nbsp;常见问题</a></p>
				<p><a href='#'>&nbsp;&nbsp;网站声明</a></p>
				<p><a href='#'>&nbsp;&nbsp;联系我们</a></p>
				<p><a href='#'>&nbsp;&nbsp;门店地址</a></p>
				<p><a href='#'>&nbsp;&nbsp;网站地图</a></p>
			</div>
			<div id='focusUsDiv'>
				<p><img src='/assets/focusUS.png'>关注我们</p>
				<p><a href='#'><img src='/assets/xinlang.png'>新浪微博</a></p>
				<p><a href='#'><img src='/assets/weixin.png'>微信</a></p>
			</div>
			<div id='shopSafetyDiv'>
				<p><a href='#'><img src='/assets/safety.png'>安全购物</a></p>
			</div>
		</div>
		<div id='copyRightDiv'>
			<p>© 2014 BigRooster.All Rights Reserved 沪ICP备12007886号-1</p>
			<p>报喜鸟集团</p>
		</div>
	</div>
