	<div id='topDiv'>
		<div id='locationDiv' class='topDivCLass'>
			<p>您的位置:<label>中国/RMB</label></p>
			<p><label>English</label>/<label>Chinese</label></p>
		</div>
		<div id='logoDiv' class='topDivCLass'><a href='/'><img src='/assets/bigRoosterLogo.png'/></a></div>
		<div id='loginOrRegDiv' class='topDivCLass'>
			<p><a href='#'>登录</a>/<a href='#'>注册</a></p>
			<p><a href='#'>购物车[<label>0</label>]</a></p>
			<p id='searchInputP'><input id='searchInputText' type='text' placeholder='搜索'><img id='searchBtnImg' src='/assets/searchImg.png'></p>
		</div>
		<div style='clear:both'></div>
		<div id='navigateDiv'>
			<ul id='navigateList'>
				<li><a href='#'>最新到店</a></li>
				<li><a href='/products'>所有商品</a></li>
				<li><a href='#'>精选专辑</a></li>
				<li><a href='#'>流行趋势</a></li>
				<li><a href='#'>搭配指南</a></li>
				<li><a href='#'>品牌故事</a></li>
				<li><a href='#'>正在发生</a></li>
				<li><a href='#'>会员中心</a></li>
			</ul>
		</div>
	</div>
	<div style='clear:both;'></div>
	<div id='rightFixedDiv'>
		<div><a href='#'><img src='/assets/cartIcon.png'></a></div>
		<div><a href='#'><img src='/assets/hotline.png'></a></div>
		<div><a href='#'><img src='/assets/memberCenter.png'></a></div>
		<div><a href='#'><img src='/assets/goTop.png'></a></div>
	</div>
