	<div id='productDisplayDiv'>
		<div id='productDiv1'>
			<div id='leftProductDiv1'><a href='#'><img src='/assets/leftProductDiv1.png'/></a></div>
			<div id='rightProductDiv1'>
				<div id='rightTopProductDiv1'><a href='#'><img src='/assets/rightTopProductDiv1.png'></a></div>
				<div id='rightBottomProductDiv1'><a href='#'><img src='/assets/rightBottomProductDiv1.png'></a></div>
			</div>
		</div>
		<div id='productDiv2'><img src='/assets/productDiv2.png'></div>
		<div id='productDiv3'>
			<div id='productDiv3_1'><a href='#'><img src='/assets/productDiv3_1.png'></a></div>
			<div id='productDiv3_2'><a href='#'><img src='/assets/productDiv3_2.png'></a></div>
			<div id='productDiv3_3'><a href='#'><img src='/assets/productDiv3_3.png'></a></div>
			<div id='productDiv3_4'><a href='#'><img src='/assets/productDiv3_4.png'></a></div>
			<div style='clear:both;'></div>
		</div>
		<div id='productDiv4'>
			<p style='text-align:center;font-size:24px;margin:20px 0 10px 0;font-weight:bold;'>新品发布</p>
			<div id='imageProductDiv4'>
				<div id='leftProductDiv4'><a href='#'><img src='/assets/leftProductDiv4.gif'></a></div>
				<div id='centerProductDiv4'>
					<div id='topCenterProductDiv4'>
						<p><a href='#'><img src='/assets/topCenterProductDiv4.gif'></a></p>
						<p>热情POLO男士短袖T恤</p>
						<p>￥499</p>
					</div>
					<div id='bottomCenterProductDiv4'>
						<div id='lBottomCenterProductDiv4'>
							<p><a href='#'><img src='/assets/lBottomCenterProductDiv4.png'></a></p>
							<p>优质牛皮皮带</p>
							<p>￥599</p>
						</div>
						<div id='rBottomCenterProductDiv4'>
							<p><a href='#'><img src='/assets/rBottomCenterProductDiv4.png'></a></p>
							<p>夏日优雅遮阳帽</p>
							<p>￥199</p>
						</div>
					</div>
				</div>
				<div id='rightProductDiv4'>
					<div id='rightProductDiv4_1'>
						<p><a href='#'><img src='/assets/rightProductDiv4_1.gif'></a></p>
						<p>基础男士休闲衬衫</p>
						<p>￥499</p>
					</div>
					<div id='rightProductDiv4_2'>
						<p><a href='#'><img src='/assets/rightProductDiv4_2.png'></a></p>
						<p>基础男士休闲短裤</p>
						<p>￥499</p>
					</div>
					<div id='rightProductDiv4_3'>
						<p><a href='#'><img src='/assets/rightProductDiv4_3.gif'></a></p>
						<p>基础男士休闲长裤</p>
						<p>￥599</p>
					</div>
				</div>
			</div>
		</div>
		<div style='clear:both;'></div>
		<div id='productDiv5'>
			<p class='titleParagraph'>MEN</p>
			<div id='topProductDiv5' class='productList'>
				<div id='topProductDiv5_1'>
					<p><img src='/assets/topProductDiv5_1.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_2'>
					<p><img src='/assets/topProductDiv5_2.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_3'>
					<p><img src='/assets/topProductDiv5_3.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_4'>
					<p><img src='/assets/topProductDiv5_4.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
			<div id='bottomProductDiv5' class='productList'>
				<div id='bottomProductDiv5_1'>
					<p><img src='/assets/bottomProductDiv5_1.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_2'>
					<p><img src='/assets/bottomProductDiv5_2.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_3'>
					<p><img src='/assets/bottomProductDiv5_3.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_4'>
					<p><img src='/assets/bottomProductDiv5_4.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div style='clear:both;'></div>
		<div id='productDiv6'>
			<p class='titleParagraph'>WOMEN</p>
			<div id='imageProductDiv6' class='productList'>
				<div id='imageProductDiv6_1'>
					<p><img src='/assets/imageProductDiv6_1.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_2'>
					<p><img src='/assets/imageProductDiv6_2.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_3'>
					<p><img src='/assets/imageProductDiv6_3.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_4'>
					<p><img src='/assets/imageProductDiv6_4.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div id='productDiv7'>
			<img src='/assets/productDiv7.png'>
		</div>
		<div id='productDiv8'>
			<p class='titleParagraph'>热销款</p>
			<div id='imageProductDiv8' class='productList'>
				<div id='imageProductDiv8_1'>
					<p><img src='/assets/imageProductDiv8_1.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_2'>
					<p><img src='/assets/imageProductDiv8_2.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_3'>
					<p><img src='/assets/imageProductDiv8_3.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_4'>
					<p><img src='/assets/imageProductDiv8_4.png'></p>
					<p><label>￥299.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div id='productDiv9'>
			<p class='titleParagraph'>人气搭配</p>
			<div id='imageProductDiv9' class='productList'>
				<div id='imageProductDiv9_1'>
					<a href='#'><img src='/assets/imageProductDiv9_1.png'></a>
				</div>
				<div id='imageProductDiv9_2'>
					<a href='#'><img src='/assets/imageProductDiv9_2.png'></a>
				</div>
				<div id='imageProductDiv9_3'>
					<a href='#'><img src='/assets/imageProductDiv9_3.png'></a>
				</div>
				<div id='imageProductDiv9_4'>
					<a href='#'><img src='/assets/imageProductDiv9_4.png'></a>
				</div>
			</div>
		</div>
		
	</div>
	<div style='clear:both;'></div>
